/* Selector comodín*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Selector de etiqueta*/
body {
    background-color: antiquewhite;
    font-family: "Edu VIC WA NT Hand", cursive;
}

h1 {
    color: rgb(32, 178, 170);
    font-size: 40px;
}

.titulo2 {
    color: black;
}

#ej2 {
    color: brown;
    text-decoration: underline;
    /* Subrayado */
    font-style: italic;
    /* Cursiva */

}

p {
    text-align: center;
    color: brown;
}

header {
    background-color: rgba(32, 178, 171, 0.748);
    height: max-content;
    font-size: 2em;
    font-weight: bold;
    /* Negrita */
}

main {
    background-color: rgb(214, 214, 171);
    height: max-content;
}

footer {
    background-color: rgba(0, 0, 0, 0.852);
    height: 50px;
}

/*Selector de clase*/
.is-centered {
    text-align: center;
}



.is-white {
    color: white;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 0px;
    border: 5px solid rgba(32, 178, 171, 0.748);
}

/* Selector descendente */
main p {
    color: darkslategrey;
    font-style: italic;
}

/* Selector descendente directo */
main>img {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

input[type="button"]{
    width: 100px;
    height: 40px;
    border: 2px solid rebeccapurple;
    border-radius: 4px;
    padding: 40px;
    background-color: rgb(185, 238, 238);
    text-align: auto;
}


#bienvenido{
    padding: 20px;
    border: 5px solid salmon;
}

button{
    padding: 20px;
    width: 140px;
    margin: 0 150px 0 150px; /* 0px arriba, 100px derecha, 0px abajo, 100px izquierda */
    /* margin-left: 100px; */
    /* margin-right: 100px; */
}