<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <style>

        body {
            font-family: Arial, sans-serif;
            background-color: #08a1c0;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #fbfbfb;
        }
        p {
            font-size: 18px;
            color: #e5e5e5;
        }
    </style>
</head>
<body>
    <h1>Bienvenido a mi sitio web</h1>
    <p>El valor de A es: {{ variable }}</p>
</body>
</html>