<h1>Menú principal académico</h1>
<ul>
    <li><a href="{% url 'profesor_create' %}">Registrar Profesor</a></li>
    <li><a href="{% url 'profesor_list' %}">Ver Profesores</a></li>
    <li><a href="{% url 'curso_create' %}">Registrar Curso</a></li>
    <li><a href="{% url 'curso_list' %}">Ver Cursos</a></li>
    <li><a href="{% url 'estudiante_create' %}">Registrar Estudiante</a></li>
    <li><a href="{% url 'estudiante_list' %}">Ver Estudiantes</a></li>
    <li><a href="{% url 'perfil_create' %}">Registrar Perfil</a></li>
    <li><a href="{% url 'perfil_list' %}">Ver Perfiles</a></li>
    <li><a href="{% url 'inscripcion_create' %}">Registrar Inscripción</a></li>
    <li><a href="{% url 'inscripcion_list' %}">Ver Inscripciones</a></li>
</ul>