
{% extends 'base.html' %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <fieldset>
    <legend>Datos del Evento</legend>
    {{ event_form.name.label_tag }}<br>
    {{ event_form.name }}<br>
    {{ event_form.date.label_tag }}<br>
    {{ event_form.date }}<br>
    {{ event_form.location.label_tag }}<br>
    {{ event_form.location }}<br>
  </fieldset>
  <fieldset>
    <legend>Participantes</legend>
    {{ formset.management_form }}
    {% for form in formset %}
      Participante {{ forloop.counter }}<br>
      {{ form.name.label_tag }}<br>
      {{ form.name }}<br>
      {{ form.email.label_tag }}<br>
      {{ form.email }}<br><br>
    {% endfor %}
  </fieldset>
  <button type="submit">Registrar Evento</button>
</form>
{% endblock %}
