<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <a href="/autos/crear/">Crear auto</a>
    <h1>Productos Disponibles</h1>
    <ul>
      {% for producto in autos %}
        <li>
          <strong>{{ producto.marca }} {{producto.modelo}}</strong> - ${{ producto.precio }}
          {% if producto.disponible %}
            <span>(Disponible)</span>
          {% else %}
            <span>(No disponible)</span>
          {% endif %}
        </li>
      {% empty %}
      <p>No hay productos disponibles.</p>
      {% endfor %}
    </ul>
  </body>
</html>
