<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi app web</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #e0ce12;
        margin: 0;
        padding: 20px;
      }
      h1 {
        color: #432bf6;
      }
      div {
        background-color: #000000;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: aliceblue;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Bienvenido a mi app web</h1>
      <h2>Mercado Libre</h2>
      <p>{{ mensaje }}</p>
      <p>El valor de A es: {{ valor_a }}</p>
    </div>
  </body>
</html>
